body{
    background-color: #CFFFDD;
}
h1{padding-left: 475px;}
h2{color:#14C3A2; font-size:32px; 
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 600px;}
p{color:#CFF09E;}
h3{color: #7CF49A;}
.languages{
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
}
.project{
    width: 150px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #5C5863;
    padding-top: 20px;
    padding-right: 300px;
    padding-bottom: 200px;
    padding-left: 300px;
}
ul{font-size: 20px}
.pics{padding-right: 200px;
padding-left: 350px;
margin-left: 100px;
margin-right: 100px;
}
.pics1{padding-right: 200px;
padding-left: 225px;
margin-left: 100px;
margin-right: 100px;}